<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="table" params="prefix parent *origin">

    <!-- ================= PROPERTIES ================= -->
    <xacro:property name="table_length" value="2"/>
    <xacro:property name="table_width" value="1"/>
    <xacro:property name="table_height" value="1"/>
    <xacro:property name="table_thickness" value="0.05"/>
    <xacro:property name="leg_length" value="${table_height - table_thickness}"/>
    <xacro:property name="leg_radius" value="0.05"/>

    <!-- ================= TABLE TOP ================= -->
    <!-- Frame at TOP surface -->
    <link name="${prefix}_top">
      <visual>
        <origin xyz="0 0 ${-table_thickness/2}" rpy="0 0 0"/>
        <geometry>
          <box size="${table_length} ${table_width} ${table_thickness}"/>
        </geometry>
        <material name="brown"/>
      </visual>
    </link>

    <!-- World to table -->
    <joint name="${parent}_to_${prefix}" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}_top"/>
      <xacro:insert_block name="origin"/>
    </joint>


    <!-- Compute leg offsets -->
    <xacro:property name="leg_x" value="${table_length/2 - leg_radius}"/>
    <xacro:property name="leg_y" value="${table_width/2 - leg_radius}"/>

    <!-- ================= LEGS ================= -->
    <xacro:macro name="leg" params="prefix parent x y">

      <link name="${name}">
        <visual>
          <!-- Frame at TOP of leg -->
          <origin xyz="0 0 ${-leg_length/2}" rpy="0 0 0"/>
          <geometry>
            <cylinder radius="${leg_radius}" length="${leg_length}"/>
          </geometry>
          <material name="light_grey"/>
        </visual>
      </link>

      <joint name="table_to_${name}" type="fixed">
        <parent link="${parent}"/>
        <child link="${prefix}"/>
        <origin xyz="${x} ${y} ${-table_thickness}" rpy="0 0 0"/>
      </joint>

    </xacro:macro>

    <!-- Instantiate four legs -->
    <xacro:leg prefix="leg_fl" parent="table" x="${leg_x}"  y="${leg_y}"/>
    <xacro:leg prefix="leg_fr" parent="table" x="${leg_x}"  y="${-leg_y}"/>
    <xacro:leg prefix="leg_bl" parent="table" x="${-leg_x}" y="${leg_y}"/>
    <xacro:leg prefix="leg_br" parent="table" x="${-leg_x}" y="${-leg_y}"/>

  </xacro:macro>

</robot>